<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028144395798-jlv2o4oa49c81iou9h5r0k3lei3fjlnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028144395798-jlv2o4oa49c81iou9h5r0k3lei3fjlnh</string>
	<key>API_KEY</key>
	<string>AIzaSyA2dEnV-7sTaLOrRyTtSWpBnSUZm2WXamY</string>
	<key>GCM_SENDER_ID</key>
	<string>1028144395798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.hope.cs.ios.TreeSap</string>
	<key>PROJECT_ID</key>
	<string>treesap-10e46</string>
	<key>STORAGE_BUCKET</key>
	<string>treesap-10e46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028144395798:ios:e2d530164fd8f6be</string>
	<key>DATABASE_URL</key>
	<string>https://treesap-10e46.firebaseio.com</string>
</dict>
</plist>